body {
    background-image: url("https://images.pexels.com/photos/349610/pexels-photo-349610.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.App{
    text-align: center;

}
.list{
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: darkolivegreen;

}

.cart{
text-align: center;
margin-right: 20px;
font-size: 60px;
float: inherit;
text-shadow: 1px 1px #FFEFD6;
text-decoration-color: cornsilk;
color: #0E5E6F;
font-family: cursive;
}

.cartButton{
    background-color: burlywood;
    border-radius: 50px;
    margin-left: 15px;
    padding: 10px;
}
.header{
    text-decoration: solid;
    font-size: 60px;
}

.orders{
    float: inherit;
    font-size: 40px;
    line-height: 2;
    color: darkolivegreen;
    
}